/* RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CODE */

.to-do-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #222;
  width: 100vw;
  height: 100vh;
  padding-bottom: 30px;
}
h1 {
  margin-top: 30px;
  color: white;
  font-size: 3rem;
}
.input-task-container {
  display: flex;
  gap: 5px;
  width: clamp(260px, 80vw, 380px);
  margin: 30px;
}
#input-task {
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 3px solid #555;
  border-radius: 3px;
  font-size: 1.5rem;
}
.add-task-button {
  font-size: 1.2rem;
  color: white;
  background-color: #2e8b57;
  height: 50px;
  border: 3px solid #555;
  border-radius: 3px;
  transition: 0.2s;
}
.add-task-button:hover {
  background-color: #256d43;
}
.add-task-button:active {
  background-color: #1d5736;
  box-shadow: inset 0px 0px 5px white;
}
.tasks-container {
  width: clamp(260px, 80vw, 380px);
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.tasks-container::-webkit-scrollbar {
  width: 7px;
}
.tasks-container::-webkit-scrollbar-thumb {
  background-color: #444;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 15px;

  list-style-type: none;

  width: 100%;
  margin-right: 0 30px;
  padding: 0px;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #999;
  border: 3px solid #555;
}
.delete-task-button {
  color: white;
  background-color: #2e8b57;

  margin-left: 10px;
  border: none;
  border-radius: 100%;
}
.delete-task-button:hover {
  background-color: #256d43;;
}
.task-name-container {
  flex: 1;
  min-width: 0;
  padding: 10px;
}
.task-name {
  text-align: center;
  font-size: 1.3rem;
}
.move-buttons {
  display: flex;
  flex-direction: column;
}
.up-button, .down-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  color: white;
  background-color: #444;

  border-left: 3px solid #333;
  border-right: 3px solid #222;
  border-bottom: 2px solid black;
}
.up-button {
  border-top: 2px solid #222;
}
.down-button:active {
  background-color: #333;
}
.up-button:active {
  background-color: #333;
  border-bottom: 2px solid #333;
}